.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header h2 {
    font-size: 1.1em;
}

.player-name {
    color: #3f51b5;
}

.fa {
    cursor: pointer;
    color: black;
}